body{
  background-image: url(./images/bg53.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  overflow-x: hidden;
}
.navbar:hover{
  transform: scale(1.1);
  transition: 0.1s;
  
}
#head1{
    text-align: center;
    color: rgb(224, 84, 33);
    text-shadow: 2px -1px 0 #767676;
}
#head{
  background-color: turquoise;
}
#image1{
  width: 50%;
}
#head3{
  text-align: center;
  color: rgb(81, 8, 141);
}
#head3:hover{
  color: black;
}
#div1{
  float: left;
  margin-left: 3rem;
}
#div1:hover{
  transform: scale(1.08);
  transition: all 1s ease;
}
.cards{
  padding: 20px;
}
.img1{
  height: 211px;
}
.img2{
  height: 210px;
  margin-top: -5px;
}
.img3{
  height: 211px;
  margin-top: -5px;
}
#account{
  margin-top: 17rem;
  width: 20%;
  margin-left:-63px;
}
.create{
 background-image: url("./images/bg22.jpg");
 margin: auto;
 border:3px solid black;
 border-radius: 30px;
 width: 450px;
 height: fit-content;
 padding: 30px;
 margin-top: 70px;
 box-shadow: 15px 15px rgb(88, 88, 87);
 margin-bottom: -300px;
 text-align: center;
 font-weight: bold;
 margin-left: 420px;
 
}
.crt{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.crt:hover{
  color:rgb(177, 23, 23); 
}
.id1{
  margin-top: 3rem;
  width: 30%;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  background-image:url("./images/bg22.jpg") ; 
  margin-left: -75px;
}
.enter{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.enter:hover{
  color:rgb(177, 23, 23); 
}
.amountcard{
  background-image: url("./images/bg22.jpg");
  background-repeat: no-repeat;
  background-size: 450px 450px;
  margin: auto;
  padding: 30px;
  border:3px solid black;
  width: 450px;
  height: fit-content;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 15px 15px rgb(88, 88, 87);
  margin-bottom: -300px;
  text-align: center;
  font-weight: bold;
  margin-left: 420px;
}
.alldata{
  background-image: url("./images/bg22.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
  border:3px solid black;
  width: 450px;
  height: fit-content;
  margin-top: 60px;
  border-radius: 30px;
  box-shadow: 15px 15px rgb(88, 88, 87);
  text-align: center;
  font-weight: bold;
  padding: 30px;
  margin-left: 320px;
 }
 .a1{
  margin: auto;
  height: fit-content;
 
  width: 100%;
  padding: 100px;
  margin-top: -2.4cm;
 }
.alldatacard{
  width: 80%;
  padding: 10px;
  margin-top: 1rem;
  margin-left: 10%;
 }
.all:hover{
  color:rgb(177, 23, 23); 
}
.log{
  padding: 40px;
}
